.header-component{
    width: 100%;
    background-color: #ccc;
    padding: 10px;

    .header-content{
        margin: 0 auto;
        .header-logo{
            height: 50px;
            
        }
    }

}